body {
    background-color: white;
    font-family: "Canela Text", serif;
    color: #000000;
    /* margin-left: 25%;
    margin-right:25%; */
    padding: 0;
}

#greyheader{ 
    background-color: #F4F4F4;
}

div {
    padding-left: 25%;
    padding-right:25%;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1, h2 {text-align: center;}

h1 {
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
    color: #000000;
}

h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
h3 { 
    font-size: 12px;
    font-weight: 400;
    color: rgba(115,112,109);
    padding-top: 20px;
}

hr { 
 border-width: 0.5px;

}

a { 
    color: #000000;
}